@import "utils/variables";

#account_body {
    margin-top: 150px;
    margin-bottom: 200px;
    padding: 0 15%;
    color: $prim;

    > h1 {
        font-weight: 600;
        font-size: 30px;
    }

    #row_wrapper {
        width: 100%;
        gap: 60px;
        display: flex;
        flex-flow: row nowrap;
        align-items: start;

        #content_wrapper {
            width: 100%;
        }

        #navigator {
            position: relative;
            padding: 15px;
            width: 300px;
            border-radius: 20px;
            background: $dark_bg;

            #bg {
                cursor: pointer;
                top: 15px;
                height: 50px;
                width: calc(100% - 30px);
                position: absolute;
                background: $btn_gradient;
                z-index: 0;
                border-radius: 10px;

                transition: top 150ms;
            }

            .tab_wrapper {
                padding: 0 15px;
                cursor: pointer;
                height: 50px;
                color: $prim;
                gap: 10px;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                img, svg {
                    z-index: 1;
                    height: 20px;
                    width: 20px;
                }

                p {
                    z-index: 1;
                }
            }
        }

        #content_wrapper {
            width: 70%;

            h1 {
                font-weight: 500;
                margin-bottom: 10px !important;
            }

            .tab_wrapper {

                .seperation {
                    margin: 0;

                    span {
                        width: 100%;
                    }
                }

                h1 {
                    margin: 0;
                }
            }

            #favs_tab {
                width: 100%;
                
                #game_grid {
                    margin-top: 80px;
                    display: grid;
                    grid-template-columns: repeat(4, calc(100% / 4 - 15px));
                    column-gap: 20px;
                    row-gap: 80px;

                    .game_card {
                        opacity: 0;
                        animation: fadeIn 300ms ease 700ms forwards;
                    }
                }
            }

            #orders_tab {
                #orders_wrapper {
                    width: 100%;
                    margin-top: 25px;

                    gap: 10px;
                    display: flex;
                    flex-flow: column nowrap;

                    .order_card {
                        padding: 15px 25px;
                        border: 2px $light_prim solid;
                        border-radius: 12px;
                        font-family: Manrope;

                        p {
                            margin: 0;
                        }

                        #top {
                            gap: 30px;
                            margin-bottom: 20px;
                            display: flex;
                            flex-flow: row nowrap;

                            div {
                                &:last-child {
                                    width: 100%;
                                    display: flex;
                                    align-items: end;
                                    flex-flow: column nowrap;
                                }

                                p {
                                    &:first-of-type {
                                        color: $light_prim;
                                        font-weight: 900;
                                    }

                                    white-space: nowrap;
                                }
                            }
                        }

                        #body {
                            .order_product_card {
                                cursor: pointer;
                                position: relative;
                                border-top: 1px $light_prim solid;
                                padding: 15px;
                                display: flex;
                                flex-flow: row nowrap;
                                align-items: center;
                                gap: 20px;
                                height: 80px;
                                background: $light_bg;

                                &:first-of-type {
                                    border-top-left-radius: 10px;
                                    border-top-right-radius: 10px;
                                    border-top: none !important;
                                }

                                &:last-of-type {
                                    border-bottom-left-radius: 10px;
                                    border-bottom-right-radius: 10px;
                                }

                                #cover {
                                    height: 100%;
                                    aspect-ratio: 3 / 4;
                                    border-radius: 5px;

                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                }

                                p {
                                    white-space: nowrap;

                                    &:nth-child(3) {
                                        position: absolute;
                                        width: 100%;
                                        text-align: center;
                                    }
                                }

                                .game_price_wrapper {
                                    white-space: nowrap;

                                    h3 {
                                        text-align: end;

                                        &:first-child {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #info_tab {
                #avatar {
                    margin-top: 20px;
                    width: 100px;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;

                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                #body {
                    margin-top: 30px;

                    h1 {
                        margin-top: 40px;
                    }

                    .input_grp {
                        gap: 40px;
                        display: flex;
                        flex-flow: row nowrap;

                        div {
                            width: calc(100% / 3 - (100px / 3));

                            label {
                                font-family: Manrope;
                            }

                            input {
                                margin-top: 5px;
                                outline: none;
                                border: none;
                                background: none;
                                width: 100%;
                                border: 2px $light_bg solid;
                                border-radius: 4px;
                                height: 30px;
                                padding-left: 15px;
                                color: $prim;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    #account_body #favs_tab  {
        #game_grid {
            grid-template-columns: repeat(3, calc(100% / 3 - 10px)) !important;
            column-gap: 10px !important;
            row-gap: 70px !important;
        }
    }
}

@media only screen and (max-width: 1250px) {
    #account_body {
        margin-top: 50px;

        #content_wrapper {
            width: calc(100% - 30px) !important;
        }

        #row_wrapper {
            align-items: center;
            flex-flow: column nowrap;
        }

        #navigator {
            width: calc(100% - 30px) !important;
        }

        #favs_tab  {
            #game_grid {
                grid-template-columns: repeat(2, calc(100% / 2 - 10px)) !important;
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    #account_body #content_wrapper {
        width: 100% !important;
    }
}

@media only screen and (max-width: 700px) {
    #account_body {
        #info_tab {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            #body {
                width: 100%;
            }

            .input_grp {
                gap: 20px !important;
                flex-flow: column nowrap !important;

                div {
                    width: calc(100% - 15px) !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 620px) {
    #account_body #orders_tab {
        .order_card {
            #top {
                justify-content: center;
                flex-wrap: wrap !important;
                
                div {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center !important;

                    &:last-child {
                        width: auto !important;
                    }
                }
            }

            .game_price_wrapper {
                #discount_price {
                    font-size: 25px !important;
                }

                #original_price {
                    font-size: 16px !important;
                }
            }
        }
    }
}