@import "utils/variables";

#benefits_section {
    margin-top: 100px;
    padding: 0 15%;
    
    & > h1 {
        margin: 0;
        color: $prim;
        font-weight: 500;
        font-size: 35px;
    }

    #blog_swiper_wrapper {
        margin-top: 30px;
        margin-bottom: 80px;
        position: relative;

        gap: 5%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        .swiper {
            width: 100%;
        }
        
        .swiper-slide {
            height: auto ;
            font-size: 18px;
            user-select: none;
        }

        a {
            display: block;
            height: 100%;
        }

        .benefit_card {
            height: calc(100% - 40px);
            color: $prim;
            border-radius: 30px;
            padding: 20px;
            position: relative;

            background: $neo_background;
            box-shadow: $neo_box_shadow;

            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            background-image: none;

            #background {
                width: 100%;
                border-radius: 10px;
                aspect-ratio: 16 / 9;

                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            h1 {
                font-family: Manrope;
                margin: 0;
                margin-top: 15px;
                font-weight: 700;
                font-size: 25px;
                
                width: 100%;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                font-size: 17px;
                font-family: Manrope;
                
                margin: 0;
                padding: 0;
                margin-top: 3px;

                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .nav_wrapper {

            top: calc(50% - 40px);
            width: calc(100% + 48px) !important;


            .arrow {
                width: 28px;
            }

            #next-arrow {
                right: 0;
            }

            #prev-arrow {
                margin-left: -48px;
            }
        }
    }
}

@media only screen and (max-width: 1623px) {
    #benefits_section {
        .benefit_card {
            h2 {
                font-size: 18px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    #benefits_section .nav_wrapper {
        .arrow {
            width: 20px;
        }

    }
}

@media only screen and (max-width: 650px) {
    #benefits_section {

        & > h1 {
            text-align: center;
        }

        .nav_wrapper {
            display: none;

        }
    }
}

@media only screen and (max-width: 530px) {
    #benefits_section {
        & > h1 {
            width: 100%;
            text-align: center;
        }

        .nav_wrapper {
            display: none;
        }
    }
}