@import "utils/variables";

#benefits_section {
    margin-top: 100px;
    padding: 0 15%;

    & > h1 {
        margin: 0;
        color: $prim;
        font-weight: 500;
        font-size: 35px;
    }

    #blog_swiper_wrapper {
        margin-top: 30px;
        margin-bottom: 80px;
        position: relative;

        gap: 5%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        .swiper {
            width: 100%;
        }
        
        .swiper-slide {
            aspect-ratio: 1 / 1;
            font-size: 18px;
            user-select: none;

            display: flex;
            justify-content: center;
            align-items: center;

            .slider_child {
                width: 100%;
                height: 100%;

                opacity: 1;
                transition-duration: 500ms;
                transform: scale(1);
                border-radius: 15px;

                display: flex;
                justify-content: center;
                align-items: center;

                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .benefit_card {
            color: $prim;
            border-radius: 30px;
            padding: 20px;
            position: relative;

            background: $neo_background;
            box-shadow: $neo_box_shadow;

            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            background-image: url('../assets/card_blur_bg.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left 100px top calc(100% + 20px);

            #background {
                height: 200px;
                width: 100%;
                border-radius: 10px;

                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            h1 {
                margin: 0;
                width: 100%;
                margin-top: 15px;
                font-weight: 500;
                font-size: 25px;
            }

            p {
                font-size: 17px;
                font-family: Manrope;
                
                margin: 0;
                padding: 0;
                margin-top: 3px;
            }
        }

        .nav_wrapper {
            top: 275px;
            width: calc(85% + 48px);

            .arrow {
                border: 2px $light_prim solid;
                width: 28px;
            }

            #next-arrow {
                right: 0;
            }

            #prev-arrow {
                margin-left: -48px;
            }
        }
    }
}

@media only screen and (max-width: 1623px) {
    #benefits_section {
        .benefit_card {
            h2 {
                font-size: 18px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (max-width: 1420px) {
    #benefits_section {
        row-gap: 150px;
        flex-wrap: wrap;
        justify-content: center;

        .benefit_card {
            width: 400px;

            h2 {
                font-size: 18px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (max-width: 1013px) {
    #benefits_section {
        padding: 0 30px !important;

        .benefit_card {
            width: 350px;
        }
    }
}

@media only screen and (max-width: 1080px) {
    #benefits_section .nav_wrapper {
        top: 180px !important;
        width: calc(85% + 20px) !important;

        #prev-arrow {
            margin-left: -20px !important;
        }
    }
}

@media only screen and (max-width: 980px) {
    #benefits_section .nav_wrapper {
        .arrow {
            width: 20px;
        }
    }
}

@media only screen and (max-width: 870px) {
    #benefits_section {
        flex-flow: column nowrap;

        .benefit_card {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 820px) {
    #benefits_section {
        padding: 0 15px !important;

        .nav_wrapper {
            top: 180px !important;
            width: calc(85% + 00px) !important;
    
            #prev-arrow {
                margin-left: 0px !important;
            }
        }
    }
}

@media only screen and (max-width: 560px) {
    #benefits_section {
        flex-flow: column nowrap;

        .benefit_card {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 530px) {
    #benefits_section {
        #blog_swiper_wrapper {
            margin-top: 0;
        }

        & > h1 {
            width: 100%;
            text-align: center;
        }

        .nav_wrapper {
            display: none;
        }
    }
}