@import "utils/variables";

#info_section {
    gap: 100px;
    margin-bottom: 200px;
    color: $prim;
    padding: 0 15%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    h1 {
        margin: 0;
        width: 400px;
        font-size: 30px;
        font-weight: 500;
    }

    p {
        margin: 0;
        font-family: Manrope;
        color: $light_bg;
        font-weight: 600;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1420px) {
    #info_section {
        gap: 50px;
    }
}

@media only screen and (max-width: 870px) {
    #info_section {
        flex-flow: column nowrap;

        h1 {
            width: 100%;
        }
    }
}