@import "utils/variables";

#overlay, #overlay_dropdown {
	width: 0;
	top: 0;
	height: 100%;
	z-index: 998;
	position: fixed;
	background: $dark_bg;
	opacity: 0;
	display: none;
	transition: opacity 400ms;
}

#overlay_dropdown {
    width: 100% !important;
    height: 500vh !important;
	position: absolute !important;
}

#mobileNavbar {
	top: 0;
	position: fixed;
	width: 100%;
	height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
	background: $light_bg;
	z-index: 999;
	display: none;
	flex-flow: column nowrap;
	padding: 0;
	right: 100vw;
	transition-duration: 0;
	transition-timing-function: ease-in-out;

    #top {
        padding: 0 35px;
        margin: 20px 0;
        margin-bottom: 20px;

        width: calc(100% - 60px);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .select_wrapper {
            margin-left: 20%;
            width: 100px;
            height: 35px;

            background: none;
            box-shadow: none;
            border: 2px #40404c solid;
        }
    
        #cross {
            border-radius: 5px;
            background: #343341;
            padding: 10px;
            padding-bottom: 6px;
            right: 20px;
            top: 20px;
            cursor: pointer;
            width: 20px;
    
            img {
                width: 20px;
                height: 20px;
    
                margin: 0;
                padding: 0;
            }
        }
    }

    ul {
        margin-left: 20%;

        li {
            gap: 10px;
            width: 95%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            color: $prim;

            &.seperation {
                height: 2px;
                margin: 20px 0;

                span {
                    width: 100%;
                }
            }

            img {
                height: 20px;

                &:last-of-type {
                    transform: scaleX(-1);
                }
            }

            p {
                width: 100%;
                margin: 0;
            }
        }
    }

    #nav_link {
        margin-top: 30px;
        margin-left: 25%;
        padding-bottom: 70px;

        p {
            font-family: Manrope;
            margin: 0;
            font-weight: 700;
            color: #40404c;
            font-size: 16px;
            margin-bottom: 15px;
        }
    }
}

#mobileNavbar.active {
	right: 100vw;
}

@media only screen and (max-width: 1130px) {
	body.hidden {
		overflow-y: hidden !important;
	}

	#overlay {
		width: 100% !important;
	}

	#mobileNavbar {
		-webkit-transition: right 400ms;
		transition: right 400ms;
	}

	#mobileNavbar.active {
		right: 20% !important;
	}
}

@media only screen and (max-width: 800px) {
    #mobileNavbar ul {
        margin-left: 18% !important;
    }
}

@media only screen and (max-width: 570px) {
    #mobileNavbar ul {
        margin-left: 15% !important;
    }
}