@import "utils/variables";

.container {
  overflow: hidden;
    margin-top: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
  position: relative;
  width: 100%;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: $light_bg;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: $btn_1;
  z-index: 2;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: calc(100% - 60px);
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #fff;
  border: 4px $btn_1 solid;
  border-radius: 50%;
  cursor: pointer;
  height: 22px;
  width: 22px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #fff;
  border: 4px $btn_1 solid;
  border-radius: 50%;
  cursor: pointer;
  height: 22px;
  width: 22px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}