@import "utils/variables";

#product_details_section {
    gap: 30px;
    padding: 0 5%;
    margin-top: 150px;
    color: $prim;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: start;

    #title {
        font-size: 30px;
        font-weight: 600;
    }

    p {
        font-family: Manrope;
    }

    #cover {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        width: 300px;
        aspect-ratio: 3 / 4;
        border-radius: 15px;
    }

    #disc_perc {
        font-family: Benzin;
        background: $btn_2;
        border-radius: 13px 0 13px 0;

        height: 35px;
        width: 80px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: $bg;
    }

    #buy_component {
        position: absolute;

        width: 320px;
        right: 5%;
        padding: 20px;
        border-radius: 20px;
        background: $neo_background;
        box-shadow: $neo_box_shadow;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        & > p:last-child {
            color: grey;
            cursor: pointer;
            font-family: Manrope;
            font-size: 17px;
            font-weight: 600;
            width: calc(100% + 15px);
            text-align: center;
            cursor: pointer;
            margin: 0;
            margin-top: 15px;
            text-decoration: underline;
        }

        #top {
            width: 100%;
            gap: 20px;
            display: flex;
            align-items: center;
            flex-flow: row nowrap;

            div {
                width: 5px;
                height: 30px;
                background: $light_prim;
                opacity: .2;
            }

            span {
                gap: 5px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: row nowrap;

                img {
                    height: 20px;
                }

                p {
                    margin: 0;
                }
            }
        }

        .seperation {
            margin: 0;
            margin-top: 20px;
        }

        #benefits {
            width: calc(100% - 40px);
            background: $bg;
            padding: 20px;
            border-radius: 15px;

            gap: 10px;
            display: flex;
            flex-flow: column nowrap;

            div {
                gap: 10px;
                display: flex;
                align-items: center;
                flex-flow: row nowrap;

                img {
                    height: 20px;
                }

                p {
                    margin: 0;
                    font-size: 14px;
                    opacity: .4;
                    font-weight: 500;
                }
            }
        }

        #fav {
            cursor: pointer;
            gap: 10px;
            margin: 15px 0;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            
            padding: 10px 20px;
            border-radius: 15px;
            transition: background 200ms;

            &:hover {
                background: $bg;
            }

            svg, img {
                height: 25px;
                width: 25px;
            }

            p {
                font-weight: 700;
                margin: 0;
                font-size: 18px;
            }
        }

        .game_price_wrapper {
            gap: 15px;
            margin: 20px 0;
            justify-content: center;
            font-family: Manrope;

            h3 {
                font-size: 38px;
                font-weight: 800;
            }

            &:has(> #discount_price) {
                h3 {
                    &:first-child {
                        font-size: 38px;
                        font-weight: 800;
                    }
    
                    &:last-child {
                        font-size: 20px;
                    }
                }
            }
        }

        button {
            cursor: pointer;
            width: 100%;
            outline: none;
            border: none;
            color: #fff;
            background: $btn_gradient;
            font-family: Manrope;
            font-size: 18px;
            padding: 15px 0;
            border-radius: 10px;
        }
    }

    .seperation {
        margin: 0;
        margin-bottom: 10px;

        span {
            width: 100%;
        }
    }

    #data {
        width: calc(100% - 720px);

        p {
            margin: 0;
            font-size: 16px;
            color: $light_prim;
        }

        #flags_wrapper {
            margin-top: 7px;
            display: flex;
            gap: 15px;

            .flag {
                border-radius: 2px;
                width: 55px;
                aspect-ratio: 16/9;

                background-position: center;
                background-repeat: no-repeat;
                background-size: 106%;
            }
        }

        #game_info {
            height: 150px;
            row-gap: 30px;
            column-gap: 50px;
            display: flex;
            flex-flow: column wrap;
            
            .info_wrapper {
                gap: 10px;
                display: flex;
                font-family: Manrope;
                font-weight: 700;

                #icon {
                    width: 50px;
                    aspect-ratio: 1 / 1;
                    background: $light_bg;
                    border-radius: 5px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 25px;
                        aspect-ratio:  1 / 1;
                    }
                }

                #text {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;

                    h4 {
                        margin: 0;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1320px) {
    #product_details_section {
        flex-wrap: wrap;

        #data {
            width: calc(100% - 350px);
        }

        #buy_component {
            position: static !important;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 900px) {
    #product_details_section {
        #game_info {
            height: auto !important;
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 760px) {
    #product_details_section {
        padding: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;

        #buy_component {
            width: calc(100% - 100px);
        }

        #cover {
            width: 500px;
        }

        #game_info {
            flex-flow: row wrap !important;
        }

        #data {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 550px) {
    #game_info {
        display: flex;
        flex-flow: row wrap;

        .info_wrapper {
            width: calc(50% - 30px);

            #icon {
                height: 50px;
            }

            #text {
                height: 50px;
            }
        }
    }
}

@media only screen and (max-width: 540px) {
    #product_details_section {
        margin-top: 50px;

        #cover {
            width: calc(100% - 40px);
        }
    }
}