@import "utils/variables";

#about_product {
    width: calc(105% - 320px);
    margin-top: 50px;
    margin-bottom: 150px;
    padding-left: 5%;
    color: $prim;

    h1 {
        margin: 0;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 600;
    }

    .seperation {
        margin: 0;
    }

    .section_wrapper {
        width: calc(100% - 350px);

        .content_wrapper {
            background: $light_bg;
            padding: 30px;
            border-radius: 15px;
            font-family: Manrope;
        }
    }

    #description {
        #more_less_wrapper {
            height: 300px;
            overflow: hidden;
            position: relative;
            transition: height 500ms;
            transition-timing-function: ease-in-out;

            p {
                margin: 0;
            }

            #grad {
                background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(29, 29, 41,1) 78%);
    
                bottom: 0;
                position: absolute;
                width: 100%;
                height: 50px;
            }

            .inline_image_wrapper {
                display: flex;
                flex-wrap: nowrap;
                gap: 50px;
                margin-top: 40px;

                &.right {
                    flex-direction: row;
                }

                &.left {
                    flex-direction: row-reverse;
                }

                #text {
                    h1 {
                        margin: 0;
                        margin-bottom: 10px;
                        font-family: Benzin;
                        font-weight: 500;
                    }
                }

                #img {
                    border-radius: 10px;
                    width: 100%;
                    height: 300px;

                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    
        button {
            outline: none;
            border: none;
    
            margin-top: 20px;
            font-family: Manrope;
            color: $btn_1;
            background: $bg;
            width: 100%;
            font-size: 17px;
            padding: 10px 0;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    #overview {
        margin-top: 50px;

        div:has( > #flags_wrapper) {
            padding: 0;
        }

        #flags_wrapper {
            display: flex;
            align-items: center;
            gap: 15px;

            .flag {
                border-radius: 2px;
                width: 45px;

                background-position: center;
                background-repeat: no-repeat;
                background-size: 110%;
            }
        }
    }

    .content_wrapper {
        h4 {
            margin: 0;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .seperation {
            height: 2px;

            span {
                width: 100%;
            }
        }
    }

    #overview .content_wrapper div:not(.seperation), #requirements .content_wrapper div:not(.seperation) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 15px 0;
        column-gap: 30px;
        p {
            margin: 0;

            &:first-child {
                width: 250px;
                font-size: 16px;
                color: $light_prim;
                font-weight: 700;
            }
        }

        div {
            gap: 5px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            img {
                height: 30px;
            }
        }
    }

    #requirements {
        margin-top: 50px;
        
        #row_wrapper {
            width: 100%;
            gap: 20px;
            display: flex;
            flex-flow: row nowrap;

            .content_wrapper {
                width: 100%;
            }
        }
    }

    #visuals {
        margin-top: 50px;

        #images_wrapper {
            height: 500px;
            width: calc(100% - 60px);
            
            gap: 20px;
            display: grid;
            grid-template-columns: repeat(4, calc(100% / 4));
            grid-template-rows: repeat(2, calc(100% / 2));

            .swiper {
                height: 100%;
                
                div {
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }

            div {
                border-radius: 10px;

                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                &:first-child {
                    grid-column: 1 / 3;
                    grid-row: 1 / 3;
                }
            }
        }
    }
}

@media only screen and (max-width: 1320px) {
    #about_product {
        width: 95%;

        .section_wrapper {
            width: calc(95% - 60px);

            .content_wrapper {
                width: 100%;
            }

            &:has(> #row_wrapper) {
                width: 95%;
            }
        }

        #row_wrapper {
            width: 100%;
        }

        #visuals {
            width: 100%;

            #images_wrapper {
                width: calc(100% - 125px);
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    #about_product {
        flex-flow: column nowrap !important;

        #overview .content_wrapper div:not(.seperation), #requirements .content_wrapper div:not(.seperation) {
            flex-wrap: wrap;
        }

        #more_less_wrapper {
            transition: height 450ms !important;
        }

        .section_wrapper:has(> #row_wrapper) {
            width: calc(95% - 60px);
        }

        #row_wrapper {
            flex-direction: column !important;
        }
    }
}

@media only screen and (max-width: 1160px) {
    #more_less_wrapper .inline_image_wrapper {
        &.right {
            flex-direction: column !important;
        }

        &.left {
            flex-direction: column-reverse !important;
        }
    }

    #visuals {
        width: 95% !important;

        #images_wrapper {
            height: 400px !important;
            width: calc(100% - 40px) !important;
            
            grid-template-columns: repeat(3, calc(100% / 3)) !important;
            grid-template-rows: repeat(3, calc(100% / 3)) !important;
    
            div {
    
                &:first-child {
                    grid-column: 1 / 4 !important;
                    grid-row: 1 / 3 !important;
                }
            }
        }
    }
}