@import "utils/variables";

#product_details_section {
    padding: 0 15%;
    width: 70%;
    margin-top: 150px;
    color: $prim;

    #title {
        font-size: 30px;
        font-weight: 600;
    }

    p {
        font-family: Manrope;
    }

    #details_wrapper {
        display: flex;
        align-items: start;
        gap: 30px;
        
        width: calc(80vw - 400px);
    }

    #cover {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        min-width: 300px;
        aspect-ratio: 3 / 4;
        border-radius: 15px;
    }

    #disc_perc {
        font-family: Benzin;
        background: $btn_2;
        border-radius: 13px 0 13px 0;

        height: 35px;
        width: 80px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: $bg;
    }

    #buy_component {
        top: 230px;
        position: absolute;

        width: 320px;
        right: 5%;
        padding: 20px;
        border-radius: 20px;
        background: $neo_background;
        box-shadow: $neo_box_shadow;

        box-shadow: 10px 12px 29px -7px rgba(0,0,0,0.69);

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        & > p:last-child {
            color: $light_bg;
            cursor: pointer;
            font-family: Manrope;
            font-size: 17px;
            font-weight: 600;
            width: calc(100% + 15px);
            text-align: center;
            cursor: pointer;
            margin: 0;
            margin-top: 15px;
            text-decoration: underline;
        }

        #top {
            width: 100%;
            gap: 20px;
            display: flex;
            align-items: center;
            flex-flow: row nowrap;

            div {
                width: 5px;
                height: 30px;
                background: $light_bg;
                opacity: .2;
            }

            span {
                gap: 5px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: row nowrap;

                img {
                    height: 20px;
                }

                p {
                    margin: 0;
                }
            }
        }

        .seperation {
            margin: 0;
            margin-top: 20px;
        }

        #benefits {
            width: calc(100% - 40px);
            background: $bg;
            padding: 20px;
            border-radius: 15px;

            gap: 10px;
            display: flex;
            flex-flow: column nowrap;

            div {
                gap: 10px;
                display: flex;
                align-items: center;
                flex-flow: row nowrap;

                img {
                    height: 20px;
                }

                p {
                    margin: 0;
                    font-size: 14px;
                    font-weight: 500;
                    color: $light_bg;
                }
            }
        }

        #fav {
            cursor: pointer;
            gap: 10px;
            margin: 15px 0;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            
            padding: 10px 20px;
            border-radius: 15px;
            transition: background 200ms;

            &:hover {
                background: $bg;
            }

            svg, img {
                height: 25px;
                width: 25px;
            }

            p {
                font-weight: 700;
                margin: 0;
                font-size: 18px;
            }
        }

        .game_price_wrapper {
            gap: 15px;
            margin: 20px 0;
            justify-content: center;
            font-family: Manrope;

            h3 {
                font-size: 38px;
                font-weight: 800;
            }

            &:has(> #discount_price) {
                h3 {
                    &:first-child {
                        font-size: 38px;
                        font-weight: 800;
                    }
    
                    &:last-child {
                        font-size: 20px;
                    }
                }
            }
        }

        button {
            cursor: pointer;
            width: 100%;
            outline: none;
            border: none;
            color: #fff;
            background: $btn_gradient;
            font-family: Manrope;
            font-size: 18px;
            padding: 15px 0;
            border-radius: 10px;
        }
    }

    .seperation {
        margin: 0;
        margin-bottom: 10px;

        span {
            width: 100%;
        }
    }

    #data {

        p {
            margin: 0;
            font-size: 16px;
            color: $light_bg;
        }

        #flags_wrapper {
            margin-top: 7px;
            display: flex;
            gap: 15px;

            font-family: Manrope;

            .flag {
                border-radius: 2px;
                width: 55px;
                aspect-ratio: 16/9;

                background-position: center;
                background-repeat: no-repeat;
                background-size: 106%;
            }
        }

        #game_info {
            row-gap: 30px;
            column-gap: 50px;
            margin-bottom: 20px;

            display: grid;
            grid-template-columns: repeat(2, calc(100% / 2 - 50px / 2));
            
            .info_wrapper {
                gap: 10px;
                display: flex;
                font-family: Manrope;
                font-weight: 700;

                #icon {
                    min-width: 50px;
                    min-height: 50px;

                    max-width: 50px;
                    max-height: 50px;

                    background: $light_prim;
                    border-radius: 5px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 25px;
                        aspect-ratio:  1 / 1;
                    }
                }

                #text {
                    display: flex;
                    flex-flow: column nowrap;

                    h4 {
                        margin: 0;
                        font-size: 18px;
                    }

                    p {
                        margin: 0;
                        color: $light_bg;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1320px) {
    #product_details_section {
        flex-wrap: wrap;

        #data {
            width: 100% !important;
        }

        #buy_component {
            position: static !important;
            width: 100%;
        }

        #details_wrapper {
            width: calc(100% + 40px);
            margin-bottom: 50px;
        }

        #game_info {
            display: flex !important;
            flex-flow: row wrap !important;
        }
    }
}

@media only screen and (max-width: 900px) {
    #product_details_section {
        #game_info {
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 760px) {
    #product_details_section {
        padding: 0 15px;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 30px);

        #flags_label, #flags_wrapper {
            display: none !important;
        }

        #buy_component {
            width: calc(100% - 40px);
        }

        #cover {
            width: 500px;
        }

        #game_info {
            flex-flow: row wrap !important;
        }

        #data {
            width: 90%;
        }

        #details_wrapper {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 550px) {
    #game_info {
        display: flex;
        flex-flow: row wrap;

        .info_wrapper {
            width: calc(50% - 30px);

            #icon {
                height: 50px;
            }

            #text {
                height: 50px;
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    #product_details_section {
        margin-top: 50px;

        #details_wrapper {
            flex-flow: column nowrap !important;
        }

        #cover {
            width: 100%;
        }

        #game_info {
            column-gap: 15px !important;
            display: grid !important;
            grid-template-columns: repeat(2, calc(100% / 2 - 15px / 2)) !important;

            .info_wrapper {
                width: 100%;

                #text {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
    
                    p {
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    #product_details_section {
        #game_info {
            column-gap: 0px !important;
            display: flex !important;
            flex-flow: column nowrap !important;
        }
    }
}