$light_prim : #000d6d;
$dark_prim : #19456B;

$light_bg: #a0c8fa;
$dark_bg: #00337C;

$btn_gradient: linear-gradient(131deg, #99b476 0%, #29adb2 100%);

$neo_background: linear-gradient(315deg, #084796, #0a55b3);
$neo_box_shadow:  inset 32px 32px 49px #084898, inset -32px -32px 49px #0a56b6;

$prim : #f3f3f3;
$bg : #153E90;

$btn_1 : #29adb2;
$btn_2 : #c5e898;