$prim : #f9fafe;

$bg : #151521;
$light_bg: #1d1d29;
$dark_bg: #0d0d17;

$btn_1 : #fb4a14;
$btn_2 : #fcce16;

$btn_gradient: linear-gradient(131deg, rgba(246,99,29,1) 0%, rgba(217,48,7,1) 100%);
$neo_background: #272530;
$neo_box_shadow: inset -7px -7px 20px #19171e, inset 7px 7px 20px #353342;

// $prim : #000421;
// $bg : #1c7bf3;

// $btn_1 : #0ac693;
// $btn_2 : #3483ff;