@-webkit-keyframes blogFadeIn {
  0% {
    margin-top: 100px;
    opacity: 0;
  }
  100% {
    margin-top: 50px;
    opacity: 1;
  }
}

@keyframes blogFadeIn {
  0% {
    margin-top: 100px;
    opacity: 0;
  }
  100% {
    margin-top: 50px;
    opacity: 1;
  }
}

#blog_list {
  margin-top: 150px;
  margin-bottom: 200px;
  padding: 0 15%;
  color: #f3f3f3;
}

#blog_list a {
  color: #f3f3f3;
}

#blog_list > h1 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: 600;
}

#blog_list .blog_card {
  height: 100%;
  cursor: pointer;
  border-radius: 20px;
  background: #000d6d;
  padding: 20px 15px;
  opacity: 0;
  -webkit-animation: fadeIn 500ms ease 200ms forwards;
          animation: fadeIn 500ms ease 200ms forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#blog_list .blog_card:not(.main) h1 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#blog_list .blog_card h1 {
  margin: 0;
  font-weight: 700;
  font-family: Manrope;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#blog_list .blog_card p {
  margin: 0;
  font-family: Manrope;
  color: #a0c8fa;
  font-weight: 600;
  font-size: 16px;
}

#blog_list .blog_card #description {
  display: none;
}

#blog_list .blog_card #cover {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#blog_list .blog_card.main {
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 0;
  -webkit-animation: blogFadeIn 500ms ease 200ms forwards;
          animation: blogFadeIn 500ms ease 200ms forwards;
}

#blog_list .blog_card.main h1 {
  font-size: 35px;
  font-weight: 700;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#blog_list .blog_card.main #text {
  padding: 30px 40px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#blog_list .blog_card.main #description {
  display: block;
  margin-top: 20px;
  margin-bottom: 100px;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#blog_list .blog_card.main #cover {
  height: 100%;
  width: calc(50% + 40px);
}

#blog_list #blog_grid {
  margin-top: 60px;
  width: calc(100% - 60px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 3))[3];
      grid-template-columns: repeat(3, calc(100% / 3));
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 70px;
}

@media only screen and (max-width: 1400px) {
  #blog_list {
    padding: 0 5%;
  }
}

@media only screen and (max-width: 1250px) {
  #blog_list {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1040px) {
  #blog_list {
    padding: 0 15px !important;
  }
}

@media only screen and (max-width: 950px) {
  #blog_list .blog_card.main {
    height: 300px;
  }
  #blog_list .blog_card.main #description {
    margin-bottom: 20px;
  }
  #blog_list #blog_grid {
    width: calc(100% - 20px);
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -ms-grid-columns: (calc(100% / 2))[2];
        grid-template-columns: repeat(2, calc(100% / 2));
  }
}

@media only screen and (max-width: 780px) {
  #blog_list .blog_card.main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    height: auto;
  }
  #blog_list .blog_card.main #cover {
    width: 100%;
    height: 300px;
  }
  #blog_list .blog_card.main #text {
    width: calc(100% - 40px);
    padding: 30px 20px;
  }
}

@media only screen and (max-width: 600px) {
  #blog_list #blog_grid {
    width: 100%;
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    row-gap: 60px;
  }
}
