#cart_body {
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 0 15%;
}

#cart_body.msg {
  padding-top: 200px;
  height: calc(100vh - 450px) !important;
}

#cart_body .mobl {
  display: none;
}

#cart_body button.grad_btn {
  cursor: pointer;
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  background: linear-gradient(131deg, #99b476 0%, #29adb2 100%);
  font-family: Manrope;
  font-size: 18px;
  padding: 15px 0;
  border-radius: 10px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cart_body #promo_input_wrapper {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px #a0c8fa solid;
  border-radius: 30px;
  padding: 2px;
  height: 35px;
  width: 100%;
}

#cart_body #promo_input_wrapper input {
  height: 100%;
  font-size: 17px;
  background: transparent;
  color: #f3f3f3;
  width: 100%;
  border-radius: 25px 0 0 25px;
  border: none;
  outline: none;
  padding-left: 25px;
}

#cart_body #promo_input_wrapper button {
  width: auto;
  padding: 0 20px;
  height: 100%;
  font-size: 16px;
  border-radius: 30px;
}

#cart_body .mobl {
  display: none;
}

#cart_body button.grad_btn {
  cursor: pointer;
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  background: linear-gradient(131deg, #99b476 0%, #29adb2 100%);
  font-family: Manrope;
  font-size: 18px;
  padding: 15px 0;
  border-radius: 10px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cart_body #promo_input_wrapper {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px #a0c8fa solid;
  border-radius: 30px;
  padding: 2px;
  height: 35px;
  width: 100%;
}

#cart_body #promo_input_wrapper input {
  height: 100%;
  font-size: 17px;
  background: transparent;
  color: #f3f3f3;
  width: 100%;
  border-radius: 25px 0 0 25px;
  border: none;
  outline: none;
  padding-left: 25px;
}

#cart_body #promo_input_wrapper button {
  width: auto;
  padding: 0 20px;
  height: 100%;
  font-size: 16px;
  border-radius: 30px;
}

#cart_body #payement_method_wrapper {
  margin: 20px 0;
  width: calc(100% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cart_body #payement_method_wrapper img {
  height: 60px;
}

#cart_body #row_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 30px;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

#cart_body #row_wrapper #checkout_component > h3, #cart_body #row_wrapper #games_list > h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
}

#cart_body #row_wrapper #checkout_component {
  color: #f3f3f3;
  width: 360px;
  padding: 20px;
  border-radius: 20px;
  background: #153E90;
  border: 2px #a0c8fa solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#cart_body #row_wrapper #checkout_component .price_detail_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cart_body #row_wrapper #checkout_component .price_detail_wrapper h3 {
  margin: 0;
  font-weight: 600;
  font-family: Manrope;
  color: #000d6d;
  font-size: 17px;
}

#cart_body #row_wrapper #checkout_component #cart_total h3 {
  color: #f3f3f3;
  font-size: 20px;
  font-weight: 500;
}

#cart_body #row_wrapper #checkout_component .seperation {
  margin: 0;
  opacity: 1;
  margin-top: 5px;
  margin-bottom: 10px;
}

#cart_body #row_wrapper #checkout_component .seperation span {
  width: 100%;
  height: 2px;
  background: #a0c8fa;
}

#cart_body #row_wrapper #games_list {
  color: #f3f3f3;
  padding: 20px;
  border-radius: 20px;
  border: 2px #a0c8fa solid;
  width: calc(100% - 470px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 10px;
}

#cart_body #row_wrapper #games_list .cart_game {
  position: relative;
  font-family: Manrope;
  padding: 10px;
  border-radius: 10px;
  width: calc(100% - 20px);
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background: #000d6d;
  color: #f3f3f3;
}

#cart_body #row_wrapper #games_list .cart_game #cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  height: 26px;
  border-radius: 3px;
  background: #a0c8fa;
  border: none;
  outline: none;
}

#cart_body #row_wrapper #games_list .cart_game #cross img {
  width: 13px;
  height: 13px;
}

#cart_body #row_wrapper #games_list .cart_game #cover {
  height: 150px;
  aspect-ratio: 3 / 4;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cart_body #row_wrapper #games_list .cart_game #content_wrapper {
  width: 100%;
}

#cart_body #row_wrapper #games_list .cart_game #top {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 10px;
}

#cart_body #row_wrapper #games_list .cart_game #top p {
  margin: 0;
  width: 100%;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#cart_body #row_wrapper #games_list .cart_game #top .game_price_wrapper {
  margin-right: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#cart_body #row_wrapper #games_list .cart_game #top .game_price_wrapper h3 {
  height: 30px;
}

#cart_body #row_wrapper #games_list .cart_game #bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cart_body #row_wrapper #games_list .cart_game #bottom #qte_control_wrapper {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

#cart_body #row_wrapper #games_list .cart_game #bottom #qte_control_wrapper button {
  cursor: pointer;
  color: #f3f3f3;
  background: none;
  font-size: 22px;
  line-height: 10px;
  border: none;
  outline: none;
  border: 2px #a0c8fa solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

#cart_body #row_wrapper #games_list .cart_game #bottom #total_price_wrapper {
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

@media only screen and (max-width: 1250px) {
  #cart_body.msg {
    font-size: 25px !important;
    padding-top: 80px !important;
  }
}

@media only screen and (max-width: 1000px) {
  #cart_body {
    padding: 0 10px;
    margin-top: 50px;
  }
  #cart_body #promo_input_wrapper, #cart_body #payement_method_wrapper {
    display: none;
  }
  #cart_body #promo_input_wrapper.mobl {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: calc(100% - 10px);
  }
  #cart_body #payement_method_wrapper.mobl {
    display: -ms-grid !important;
    display: grid !important;
    width: calc(100% - 15px);
  }
  #cart_body #row_wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  #cart_body #row_wrapper #checkout_component {
    padding-top: 10px;
    z-index: 997;
    width: calc(100% - 44px);
    height: auto;
    position: fixed;
    border-radius: 15px 15px 0 0;
    background: #000d6d;
    bottom: 0;
    left: 0;
  }
  #cart_body #row_wrapper #checkout_component > h3 {
    margin-bottom: 10px;
  }
  #cart_body #row_wrapper #checkout_component .grad_btn {
    margin-top: 20px;
  }
  #cart_body #row_wrapper #games_list {
    width: calc(100% - 46px);
  }
  #cart_body #row_wrapper #games_list .cart_game {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #cart_body #row_wrapper #games_list .cart_game #cover {
    height: 100px;
  }
  #cart_body #row_wrapper #games_list .cart_game .game_price_wrapper {
    display: none;
  }
}
