#drop_menu ul.main::-webkit-scrollbar {
  display: none;
}

#drop_menu_wrapper {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  position: absolute;
}

#drop_menu_wrapper #drop_menu {
  height: 100%;
  width: calc(70% - 100px);
  padding: 0 20px;
  margin-top: 30px;
  border-radius: 150px;
  background: linear-gradient(315deg, #084796, #0a55b3);
  -webkit-box-shadow: inset 32px 32px 49px #084898, inset -32px -32px 49px #0a56b6;
          box-shadow: inset 32px 32px 49px #084898, inset -32px -32px 49px #0a56b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#drop_menu_wrapper #drop_menu .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 15px;
}

#drop_menu_wrapper #drop_menu .arrow#next-arrow {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  margin: 0;
  margin-left: 20px;
}

#drop_menu_wrapper #drop_menu .arrow img {
  height: 22px;
}

#drop_menu_wrapper #drop_menu .swiper {
  height: 100%;
}

#drop_menu_wrapper #drop_menu .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#drop_menu_wrapper #drop_menu .swiper-slide div {
  gap: 10px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#drop_menu_wrapper #drop_menu .swiper-slide div.active, #drop_menu_wrapper #drop_menu .swiper-slide div:hover {
  border-bottom: 2px #29adb2 solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(41, 173, 178, 0.2)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(41, 173, 178, 0.2) 100%);
}

#drop_menu_wrapper #drop_menu .swiper-slide div a {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#drop_menu_wrapper #drop_menu .swiper-slide div img {
  width: 20px;
  height: 20px;
}

#drop_menu_wrapper #drop_menu .swiper-slide div p {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  color: #f3f3f3;
  font-size: 14px;
}

#drop_menu_wrapper #drop_menu ul.main > li #menu {
  cursor: context-menu;
  position: absolute;
  width: 700px;
  background: linear-gradient(315deg, #084796, #0a55b3);
  top: 61px;
  left: 0px;
  display: none;
  border-radius: 0 0 20px 20px;
  gap: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f3f3f3;
  padding: 20px 30px;
  padding-bottom: 200px;
  font-family: Manrope;
}

#drop_menu_wrapper #drop_menu ul.main > li #menu #card {
  position: absolute;
  height: 180px;
  aspect-ratio: 9/6;
  border-radius: 20px;
  right: -15%;
  top: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#drop_menu_wrapper #drop_menu ul.main > li #menu .sprt {
  width: 100%;
  height: 2px;
  background: #f3f3f3;
  opacity: .5;
  margin: 10px 0;
}

#drop_menu_wrapper #drop_menu ul.main > li #menu h1 {
  font-size: 23px;
  margin: 0;
  font-weight: 600;
}

#drop_menu_wrapper #drop_menu ul.main > li #menu #tabs {
  width: 100%;
}

#drop_menu_wrapper #drop_menu ul.main > li #menu #tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  list-style: none;
  padding: 0;
  margin: 0;
}

#drop_menu_wrapper #drop_menu ul.main > li #menu #tabs ul a {
  color: #f3f3f3;
  padding: 0;
  margin: 0;
  text-decoration: none;
  width: 100%;
}

#drop_menu_wrapper #drop_menu ul.main > li #menu #tabs ul li {
  cursor: pointer;
  width: calc(100% - 40px);
  margin: 0;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 20px;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

#drop_menu_wrapper #drop_menu ul.main > li #menu #tabs ul li:hover, #drop_menu_wrapper #drop_menu ul.main > li #menu #tabs ul li.active {
  background: #00337C;
}

#drop_menu_wrapper #drop_menu ul.main > li #menu #promoted {
  width: 100%;
}

@media only screen and (max-width: 1480px) {
  #drop_menu_wrapper #drop_menu {
    padding: 0 20px;
  }
  #drop_menu_wrapper #drop_menu p {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 1300px) {
  #drop_menu_wrapper #drop_menu {
    width: 85%;
  }
  #drop_menu_wrapper #drop_menu p {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 1250px) {
  #drop_menu_wrapper {
    display: none;
  }
}
