.game_card {
  cursor: pointer;
  border-radius: 15px;
  aspect-ratio: 3 / 4.8;
  font-family: Manrope;
  background: #00337C;
  color: #f3f3f3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 20px;
}

.game_card #fav_btn {
  top: -40px;
  right: 20px;
  position: absolute;
  z-index: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  padding: 4px;
  height: 30px;
  width: 30px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background-color: rgba(21, 21, 33, 0.2);
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

.game_card #fav_btn svg {
  height: 100%;
  width: 100%;
  z-index: 901;
}

.game_card #platforms_wrapper {
  background: #000d6d;
  margin-top: 15px;
  width: calc(100% - 20px);
  border-radius: 0 0 15px 15px;
  padding: 7.5px 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game_card #platforms_wrapper p {
  margin: 0;
}

.game_card #platforms_wrapper #platforms {
  -webkit-column-gap: 7px;
          column-gap: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.game_card #platforms_wrapper #platforms .platform_entry {
  position: relative;
  height: 25px;
}

.game_card #platforms_wrapper #platforms .platform_entry:hover #index, .game_card #platforms_wrapper #platforms .platform_entry:hover #arrow {
  display: -webkit-box;
}

.game_card #platforms_wrapper #platforms .platform_entry img {
  height: 25px;
}

.game_card #platforms_wrapper #platforms .platform_entry #arrow {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid #f3f3f3;
  bottom: -15px;
  left: calc(50% - 4px);
  z-index: 999;
}

.game_card #platforms_wrapper #platforms .platform_entry #index {
  display: none;
  margin-left: -30px;
  margin-top: 10px;
  position: absolute;
  background: #f3f3f3;
  width: 90px;
  border-radius: 3px;
  padding: 5px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #000d6d;
  z-index: 9999;
}

.game_card #discount_perc {
  font-family: Benzin;
  position: absolute;
  z-index: 900;
  top: -50px;
  left: 10px;
  background: #c5e898;
  border-radius: 13px 0 13px 0;
  height: 35px;
  width: 80px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  color: #153E90;
}

.game_card p {
  margin: 0;
  padding: 0;
  width: calc(100% - 20px);
  font-size: 18px;
  margin-bottom: 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game_card .skeleton-box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #DDDBDD;
}

.game_card #cover {
  border-radius: 15px;
  top: -50px;
  position: absolute;
  overflow: hidden;
  width: calc(100% - 20px);
  height: calc(100% - 100px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #DDDBDD;
}

.game_card #cover.loading::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 1s infinite;
          animation: shimmer 1s infinite;
  content: '';
}

@-webkit-keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.game_card #bottom {
  width: calc(100% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game_card #bottom button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(131deg, #99b476 0%, #29adb2 100%);
  border: none;
  outline: none;
}

.game_card #bottom button svg, .game_card #bottom button img {
  height: 25px;
  width: 25px;
}

@media only screen and (max-width: 650px) {
  .game_card #discount_perc {
    font-size: 14px !important;
    height: 30px !important;
    width: 70px !important;
  }
  .game_card #platforms img {
    height: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .game_card {
    padding-bottom: 15px;
  }
  .game_card #cover {
    height: calc(100% - 50px);
  }
  .game_card #platforms_wrapper {
    display: none !important;
  }
}
