@font-face {
  font-family: Benzin;
  src: url("../fonts/Benzin-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Benzin;
  src: url("../fonts/Benzin-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Benzin;
  src: url("../fonts/Benzin-Semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Benzin;
  src: url("../fonts/Benzin-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Benzin;
  src: url("../fonts/Benzin-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Manrope;
  src: url("../fonts/Manrope-VariableFont_wght.ttf");
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #29adb2;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px black;
          box-shadow: 0 0 4px black;
}

::-webkit-scrollbar-track {
  background: rgba(0, 122, 225, 0.2);
}

::-moz-selection {
  background: #29adb2;
}

::selection {
  background: #29adb2;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: #153E90;
  font-family: "Benzin", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("../assets/bg_2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -50%;
}

@media only screen and (max-width: 650px) {
  #blog_list, .games_buy_slider {
    padding: 0 !important;
  }
  .games_buy_slider, #benefits_section {
    padding: 10px !important;
  }
  #info_section, #games_list_body, #account_body, #cart_body, #blog_post {
    padding: 15px !important;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  body {
    background-size: contain !important;
    background-position: top !important;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

input, button, select, textarea {
  font-family: "Manrope", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-input-placeholder, button::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #a0c8fa;
  font-weight: 600;
}

input:-ms-input-placeholder, button:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a0c8fa;
  font-weight: 600;
}

input::-ms-input-placeholder, button::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #a0c8fa;
  font-weight: 600;
}

input::placeholder, button::placeholder, select::placeholder, textarea::placeholder {
  color: #a0c8fa;
  font-weight: 600;
}

.mobl {
  display: none !important;
}

.seperation {
  width: 100%;
  height: 3px;
  margin: 80px 0;
  margin-bottom: 50px;
  opacity: .2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seperation span {
  display: block;
  width: 80%;
  height: 100%;
  background: #a0c8fa;
}

.pags_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}

.pags_wrapper div {
  width: 40px;
  height: 3px;
  background: #000d6d;
  -webkit-transition: background 200ms;
  transition: background 200ms;
  cursor: pointer;
}

.pags_wrapper div.active {
  background: #29adb2;
}

.nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 996;
}

.nav_wrapper:not(.nav_wrapper.main) .arrow {
  border: 2px #a0c8fa solid;
}

.nav_wrapper .arrow {
  width: 20px;
  height: 65px;
  background: #153E90;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_wrapper .arrow#next-arrow {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.nav_wrapper .arrow img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 20px;
  margin-right: 3px;
}

.nav_btn, .select_wrapper {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 150px;
  background: #19456B;
  -webkit-box-shadow: inset 32px 32px 49px #084898, inset -32px -32px 49px #0a56b6;
          box-shadow: inset 32px 32px 49px #084898, inset -32px -32px 49px #0a56b6;
  padding: 5px 10px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  outline: 1px #a0c8fa solid;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_btn.active, .nav_btn:hover, .select_wrapper.active, .select_wrapper:hover {
  outline: none;
  background: linear-gradient(131deg, #99b476 0%, #29adb2 100%) !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav_btn svg, .nav_btn img, .select_wrapper svg, .select_wrapper img {
  height: 25px;
  width: 25px;
}

.nav_btn.badged, .select_wrapper.badged {
  position: relative;
}

.nav_btn.badged #badge, .select_wrapper.badged #badge {
  font-family: "Manrope";
  font-weight: 700;
  top: -5px;
  right: -5px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
}

.nav_btn.badged #badge p, .select_wrapper.badged #badge p {
  padding: 0;
  margin: 0;
}

.select_wrapper {
  width: auto;
  color: #f3f3f3;
  padding: 0;
  margin: 0;
  position: relative;
}

.select_wrapper select {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-indent: 1px;
  text-overflow: '';
  padding: 0 15px;
  padding-right: 25px;
  background: none;
  border-radius: 150px;
  border: none !important;
  outline: none !important;
  color: #f3f3f3;
  width: 100%;
  height: 100%;
}

.select_wrapper img {
  right: 10px;
  pointer-events: none;
  width: 15px;
  height: auto;
  position: absolute;
}

.select_wrapper option {
  color: #153E90;
  font-size: 15px;
}

.game_price_wrapper {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.game_price_wrapper:has(> #discount_price) #original_price {
  color: #a0c8fa;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}

.game_price_wrapper #discount_price {
  color: #c5e898;
}

.game_price_wrapper h3 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 600;
}

.msg {
  font-size: 30px;
  font-weight: 600;
  color: #f3f3f3;
  margin: 0;
  text-align: center;
  opacity: 0;
  margin-top: 50px;
  -webkit-animation: fadeIn 300ms ease 200ms forwards;
          animation: fadeIn 300ms ease 200ms forwards;
}

.index_pags {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.index_pags .pag {
  cursor: pointer;
  background: none;
  border: 2px #000d6d solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #f3f3f3;
}

.index_pags .pag.active {
  border-color: #29adb2;
}

.index_pags #next, .index_pags #prev {
  padding-left: 15px;
  padding-right: 10px;
  height: 40px;
  border: 2px #000d6d solid;
  cursor: pointer;
  background: none;
  color: #f3f3f3;
  border-radius: 20px;
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index_pags #next p, .index_pags #prev p {
  margin: 0;
}

.index_pags #next img, .index_pags #prev img {
  height: 20px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.index_pags #prev {
  padding-left: 10px;
  padding-right: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
}

.index_pags #prev img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media only screen and (max-width: 990px) {
  .index_pags {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
