@font-face {
  font-family: Benzin;
  src: url("../fonts/Benzin-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Benzin;
  src: url("../fonts/Benzin-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Benzin;
  src: url("../fonts/Benzin-Semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Benzin;
  src: url("../fonts/Benzin-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Benzin;
  src: url("../fonts/Benzin-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Manrope;
  src: url("../fonts/Manrope-VariableFont_wght.ttf");
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #fb4a14;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px black;
          box-shadow: 0 0 4px black;
}

::-webkit-scrollbar-track {
  background: rgba(0, 122, 225, 0.2);
}

::-moz-selection {
  background: #fb4a14;
}

::selection {
  background: #fb4a14;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: #151521;
  font-family: "Benzin", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("../assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -50%;
}

@media (max-aspect-ratio: 1 / 1) {
  body {
    background-size: contain !important;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

input, button, select {
  font-family: "Manrope", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.mobl {
  display: none !important;
}

.seperation {
  width: 100%;
  height: 3px;
  margin: 80px 0;
  margin-bottom: 50px;
  opacity: .2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seperation span {
  display: block;
  width: 80%;
  height: 100%;
  background: #40404c;
}

.pags_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}

.pags_wrapper div {
  width: 40px;
  height: 3px;
  background: #2c2c38;
  -webkit-transition: background 200ms;
  transition: background 200ms;
  cursor: pointer;
}

.pags_wrapper div.active {
  background: #fb4a14;
}

.nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 997;
}

.nav_wrapper .arrow {
  width: 20px;
  height: 65px;
  background: #151521;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_wrapper .arrow#next-arrow {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.nav_wrapper .arrow img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 20px;
  margin-right: 3px;
}

#ending {
  width: 100%;
  height: 300px;
  border-radius: 0 0 35% 35%;
  position: absolute;
  background: #151521;
  -webkit-box-shadow: inset -22px 22px 44px #08080d, inset 22px -22px 44px #222235;
          box-shadow: inset -22px 22px 44px #08080d, inset 22px -22px 44px #222235;
}

.nav_btn, .select_wrapper {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 150px;
  background: #272530;
  -webkit-box-shadow: inset -7px -7px 20px #19171e, inset 7px 7px 20px #353342;
          box-shadow: inset -7px -7px 20px #19171e, inset 7px 7px 20px #353342;
  padding: 5px 10px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_btn.active, .nav_btn:hover, .select_wrapper.active, .select_wrapper:hover {
  background: linear-gradient(131deg, #f6631d 0%, #d93007 100%) !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav_btn svg, .nav_btn img, .select_wrapper svg, .select_wrapper img {
  height: 25px;
  width: 25px;
}

.nav_btn.badged, .select_wrapper.badged {
  position: relative;
}

.nav_btn.badged #badge, .select_wrapper.badged #badge {
  font-family: "Manrope";
  font-weight: 700;
  top: -5px;
  right: -5px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
}

.nav_btn.badged #badge p, .select_wrapper.badged #badge p {
  padding: 0;
  margin: 0;
}

.select_wrapper {
  width: auto;
  color: #f9fafe;
  padding: 0;
  margin: 0;
  position: relative;
}

.select_wrapper select {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-indent: 1px;
  text-overflow: '';
  padding: 0 15px;
  padding-right: 25px;
  background: none;
  border-radius: 150px;
  border: none !important;
  outline: none !important;
  color: #f9fafe;
  width: 100%;
  height: 100%;
}

.select_wrapper img {
  right: 10px;
  pointer-events: none;
  width: 15px;
  height: auto;
  position: absolute;
}

.select_wrapper option {
  color: #151521;
  font-size: 15px;
}

.game_price_wrapper {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.game_price_wrapper:has(> #discount_price) #original_price {
  color: #40404c;
  font-size: 18px;
  font-weight: 800;
  text-decoration: line-through;
}

.game_price_wrapper #discount_price {
  color: #fcce16;
}

.game_price_wrapper h3 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 600;
}
