#login_body {
  padding: 80px 0;
  margin-top: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login_body #form_wrapper {
  padding-right: 200px;
  height: calc(90% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  display: flex;
  flex-flow: row nowrap;
  gap: 80px;
  border-radius: 25px;
  border: 3px #353342 solid;
  background-color: rgba(29, 29, 41, 0.5);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

#login_body #form_wrapper #hot_games_slider_wrapper {
  border-radius: 22px 30px 30px 22px;
  color: #f9fafe;
  width: 500px;
  aspect-ratio: 2/3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#login_body #form_wrapper form {
  opacity: 0;
  margin-top: 50px;
  -webkit-animation: fadeIn 300ms ease 200ms forwards;
          animation: fadeIn 300ms ease 200ms forwards;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  color: #f9fafe;
  width: 400px;
}

#login_body #form_wrapper form #qa_wrapper {
  margin-top: 30px;
  width: 100%;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login_body #form_wrapper form #qa_wrapper span {
  gap: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  padding-right: 10px;
  border: 2px #40404c solid;
  border-radius: 10px;
}

#login_body #form_wrapper form #qa_wrapper span p {
  font-weight: 600;
  font-family: Manrope;
  margin: 0;
}

#login_body #form_wrapper form #qa_wrapper span img {
  width: 25px;
}

#login_body #form_wrapper form#signup > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 50px;
}

#login_body #form_wrapper form h1 {
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  margin-top: 50px;
}

#login_body #form_wrapper form p {
  margin: 0;
  color: grey;
  margin-bottom: 30px;
}

#login_body #form_wrapper form label {
  width: 100%;
  font-family: Manrope;
  font-size: 18px;
  margin-bottom: 5px;
}

#login_body #form_wrapper form input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: #353342;
  border-radius: 15px;
  color: #f9fafe;
  padding-left: 25px;
  margin-bottom: 20px;
  font-size: 18px;
}

#login_body #form_wrapper form p:not(p:first-of-type) {
  font-family: Manrope;
  font-size: 17px;
  font-weight: 600;
  width: calc(100% + 15px);
  text-align: end;
  cursor: pointer;
  margin: 0;
  text-decoration: underline;
}

#login_body #form_wrapper form p:not(p:first-of-type):last-of-type {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#login_body #form_wrapper form button {
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  background: linear-gradient(131deg, #f6631d 0%, #d93007 100%);
  font-family: Manrope;
  font-size: 18px;
  padding: 15px 0;
  border-radius: 10px;
  height: 38px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1220px) {
  #login_body #form_wrapper {
    padding-right: 50px;
    width: calc(100% - 100px);
  }
  #login_body #form_wrapper form {
    width: calc(100% - 500px);
  }
}

@media only screen and (max-width: 1130px) {
  #login_body {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1000px) {
  #login_body #form_wrapper {
    width: calc(100% - 60px);
    padding-right: 10px;
    gap: 35px;
  }
  #login_body #form_wrapper form h1 {
    margin-top: 20px;
  }
  #login_body #form_wrapper #hot_games_slider_wrapper {
    width: 420px;
  }
}

@media only screen and (max-width: 850px) {
  #login_body #form_wrapper {
    width: calc(100% - 40px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 650px;
  }
  #login_body #form_wrapper #hot_games_slider_wrapper {
    display: none;
  }
  #login_body #form_wrapper form {
    width: calc(100% - 70px);
  }
  #login_body #form_wrapper form input {
    margin-left: -10px;
  }
  #login_body #form_wrapper form h1 {
    margin-top: 30px;
  }
}
