#product_details_section {
  padding: 0 15%;
  width: 70%;
  margin-top: 150px;
  color: #f3f3f3;
}

#product_details_section #title {
  font-size: 30px;
  font-weight: 600;
}

#product_details_section p {
  font-family: Manrope;
}

#product_details_section #details_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 30px;
  width: calc(80vw - 400px);
}

#product_details_section #cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px;
  aspect-ratio: 3 / 4;
  border-radius: 15px;
}

#product_details_section #disc_perc {
  font-family: Benzin;
  background: #c5e898;
  border-radius: 13px 0 13px 0;
  height: 35px;
  width: 80px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  color: #153E90;
}

#product_details_section #buy_component {
  top: 230px;
  position: absolute;
  width: 320px;
  right: 5%;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(315deg, #084796, #0a55b3);
  -webkit-box-shadow: inset 32px 32px 49px #084898, inset -32px -32px 49px #0a56b6;
          box-shadow: inset 32px 32px 49px #084898, inset -32px -32px 49px #0a56b6;
  -webkit-box-shadow: 10px 12px 29px -7px rgba(0, 0, 0, 0.69);
          box-shadow: 10px 12px 29px -7px rgba(0, 0, 0, 0.69);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product_details_section #buy_component > p:last-child {
  color: #a0c8fa;
  cursor: pointer;
  font-family: Manrope;
  font-size: 17px;
  font-weight: 600;
  width: calc(100% + 15px);
  text-align: center;
  cursor: pointer;
  margin: 0;
  margin-top: 15px;
  text-decoration: underline;
}

#product_details_section #buy_component #top {
  width: 100%;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#product_details_section #buy_component #top div {
  width: 5px;
  height: 30px;
  background: #a0c8fa;
  opacity: .2;
}

#product_details_section #buy_component #top span {
  gap: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#product_details_section #buy_component #top span img {
  height: 20px;
}

#product_details_section #buy_component #top span p {
  margin: 0;
}

#product_details_section #buy_component .seperation {
  margin: 0;
  margin-top: 20px;
}

#product_details_section #buy_component #benefits {
  width: calc(100% - 40px);
  background: #153E90;
  padding: 20px;
  border-radius: 15px;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#product_details_section #buy_component #benefits div {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#product_details_section #buy_component #benefits div img {
  height: 20px;
}

#product_details_section #buy_component #benefits div p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #a0c8fa;
}

#product_details_section #buy_component #fav {
  cursor: pointer;
  gap: 10px;
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-radius: 15px;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

#product_details_section #buy_component #fav:hover {
  background: #153E90;
}

#product_details_section #buy_component #fav svg, #product_details_section #buy_component #fav img {
  height: 25px;
  width: 25px;
}

#product_details_section #buy_component #fav p {
  font-weight: 700;
  margin: 0;
  font-size: 18px;
}

#product_details_section #buy_component .game_price_wrapper {
  gap: 15px;
  margin: 20px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Manrope;
}

#product_details_section #buy_component .game_price_wrapper h3 {
  font-size: 38px;
  font-weight: 800;
}

#product_details_section #buy_component .game_price_wrapper:has(> #discount_price) h3:first-child {
  font-size: 38px;
  font-weight: 800;
}

#product_details_section #buy_component .game_price_wrapper:has(> #discount_price) h3:last-child {
  font-size: 20px;
}

#product_details_section #buy_component button {
  cursor: pointer;
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  background: linear-gradient(131deg, #99b476 0%, #29adb2 100%);
  font-family: Manrope;
  font-size: 18px;
  padding: 15px 0;
  border-radius: 10px;
}

#product_details_section .seperation {
  margin: 0;
  margin-bottom: 10px;
}

#product_details_section .seperation span {
  width: 100%;
}

#product_details_section #data p {
  margin: 0;
  font-size: 16px;
  color: #a0c8fa;
}

#product_details_section #data #flags_wrapper {
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  font-family: Manrope;
}

#product_details_section #data #flags_wrapper .flag {
  border-radius: 2px;
  width: 55px;
  aspect-ratio: 16/9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 106%;
}

#product_details_section #data #game_info {
  row-gap: 30px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 2 - 50px / 2))[2];
      grid-template-columns: repeat(2, calc(100% / 2 - 50px / 2));
}

#product_details_section #data #game_info .info_wrapper {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Manrope;
  font-weight: 700;
}

#product_details_section #data #game_info .info_wrapper #icon {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  background: #000d6d;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#product_details_section #data #game_info .info_wrapper #icon img {
  height: 25px;
  aspect-ratio: 1 / 1;
}

#product_details_section #data #game_info .info_wrapper #text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#product_details_section #data #game_info .info_wrapper #text h4 {
  margin: 0;
  font-size: 18px;
}

#product_details_section #data #game_info .info_wrapper #text p {
  margin: 0;
  color: #a0c8fa;
}

@media only screen and (max-width: 1320px) {
  #product_details_section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #product_details_section #data {
    width: 100% !important;
  }
  #product_details_section #buy_component {
    position: static !important;
    width: 100%;
  }
  #product_details_section #details_wrapper {
    width: calc(100% + 40px);
    margin-bottom: 50px;
  }
  #product_details_section #game_info {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row wrap !important;
            flex-flow: row wrap !important;
  }
}

@media only screen and (max-width: 900px) {
  #product_details_section #game_info {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 760px) {
  #product_details_section {
    padding: 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100% - 30px);
  }
  #product_details_section #flags_label, #product_details_section #flags_wrapper {
    display: none !important;
  }
  #product_details_section #buy_component {
    width: calc(100% - 40px);
  }
  #product_details_section #cover {
    width: 500px;
  }
  #product_details_section #game_info {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row wrap !important;
            flex-flow: row wrap !important;
  }
  #product_details_section #data {
    width: 90%;
  }
  #product_details_section #details_wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  #game_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #game_info .info_wrapper {
    width: calc(50% - 30px);
  }
  #game_info .info_wrapper #icon {
    height: 50px;
  }
  #game_info .info_wrapper #text {
    height: 50px;
  }
}

@media only screen and (max-width: 720px) {
  #product_details_section {
    margin-top: 50px;
  }
  #product_details_section #details_wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
  }
  #product_details_section #cover {
    width: 100%;
  }
  #product_details_section #game_info {
    -webkit-column-gap: 15px !important;
            column-gap: 15px !important;
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: (calc(100% / 2 - 15px / 2))[2] !important;
        grid-template-columns: repeat(2, calc(100% / 2 - 15px / 2)) !important;
  }
  #product_details_section #game_info .info_wrapper {
    width: 100%;
  }
  #product_details_section #game_info .info_wrapper #text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #product_details_section #game_info .info_wrapper #text p {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  #product_details_section #game_info {
    -webkit-column-gap: 0px !important;
            column-gap: 0px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
  }
}
