@media only screen and (max-width: 760px) {
  #about_product {
    width: 90% !important;
    padding: 0 5% !important;
  }
  #about_product .section_wrapper {
    width: 100% !important;
  }
  #about_product .section_wrapper .content_wrapper {
    width: calc(100% - 60px) !important;
  }
  #about_product #visuals {
    width: 100% !important;
  }
}

#about_product {
  margin-top: 50px;
  margin-bottom: 150px;
  width: calc(80% - 40px);
  padding-left: 15%;
  color: #f3f3f3;
}

#about_product h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}

#about_product .seperation {
  margin: 0;
}

#about_product .section_wrapper {
  width: calc(100% - 350px);
}

#about_product .section_wrapper .content_wrapper {
  background: #00337C;
  padding: 30px;
  border-radius: 15px;
  font-family: Manrope;
}

#about_product .games_buy_slider {
  padding: 0;
  margin-top: 70px;
  width: calc(100% - 48px) !important;
}

#about_product .games_buy_slider .more_btn {
  display: none;
}

#about_product .games_buy_slider .pags_wrapper {
  display: none;
}

#about_product .games_buy_slider .nav_wrapper {
  top: calc(50% - 15px);
  width: calc(100% + 48px);
  z-index: 996 !important;
}

#about_product #description #more_less_wrapper {
  height: 300px;
  overflow: hidden;
  position: relative;
  -webkit-transition: height 500ms;
  transition: height 500ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#about_product #description #more_less_wrapper p {
  margin: 0;
}

#about_product #description #more_less_wrapper #grad {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(78%, #00337C));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #00337C 78%);
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 70px;
}

#about_product #description #more_less_wrapper .inline_image_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 50px;
  margin-top: 40px;
}

#about_product #description #more_less_wrapper .inline_image_wrapper.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about_product #description #more_less_wrapper .inline_image_wrapper.left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#about_product #description #more_less_wrapper .inline_image_wrapper #text h1 {
  margin: 0;
  margin-bottom: 10px;
  font-family: Benzin;
  font-weight: 500;
}

#about_product #description #more_less_wrapper .inline_image_wrapper #img {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 16/9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about_product #description button {
  outline: none;
  border: none;
  margin-top: 20px;
  font-family: Manrope;
  color: #29adb2;
  background: #153E90;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

#about_product #overview {
  margin-top: 50px;
}

#about_product #overview div:has(> #flags_wrapper) {
  padding: 0;
}

#about_product #overview #flags_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: auto !important;
  gap: 15px;
}

#about_product #overview #flags_wrapper #see_more {
  cursor: pointer;
}

#about_product .content_wrapper h4 {
  margin: 0;
  font-size: 18px;
  margin-bottom: 20px;
}

#about_product .content_wrapper .seperation {
  height: 2px;
}

#about_product .content_wrapper .seperation span {
  width: 100%;
}

#about_product #overview .content_wrapper div:not(.seperation), #about_product #requirements .content_wrapper div:not(.seperation) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

#about_product #overview .content_wrapper div:not(.seperation) p, #about_product #requirements .content_wrapper div:not(.seperation) p {
  margin: 0;
}

#about_product #overview .content_wrapper div:not(.seperation) p:first-child, #about_product #requirements .content_wrapper div:not(.seperation) p:first-child {
  width: 250px;
  font-size: 16px;
  color: #a0c8fa;
  font-weight: 700;
}

#about_product #overview .content_wrapper div:not(.seperation) div, #about_product #requirements .content_wrapper div:not(.seperation) div {
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about_product #overview .content_wrapper div:not(.seperation) div img, #about_product #requirements .content_wrapper div:not(.seperation) div img {
  height: 30px;
}

#about_product #requirements {
  margin-top: 50px;
}

#about_product #requirements #row_wrapper {
  width: 100%;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#about_product #requirements #row_wrapper .content_wrapper {
  width: 100%;
}

#about_product #visuals {
  margin-top: 50px;
}

#about_product #visuals #images_wrapper {
  cursor: pointer;
  width: calc(100% - 60px);
  gap: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 3))[3];
      grid-template-columns: repeat(3, calc(100% / 3));
}

#about_product #visuals #images_wrapper .swiper {
  height: 100%;
}

#about_product #visuals #images_wrapper .swiper div {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#about_product #visuals #images_wrapper div {
  aspect-ratio: 16/9;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#about_product #visuals #images_wrapper div:first-child {
  aspect-ratio: auto !important;
  height: 100% !important;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

#about_product #visuals #images_wrapper div:nth-child(2), #about_product #visuals #images_wrapper div:nth-child(3) {
  width: calc(100% + 15px) !important;
}

#about_product #visuals #images_wrapper div:nth-child(5) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 6 / 2;
}

#about_product #visuals #images_wrapper div:last-child {
  height: 100% !important;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 3 / 2 / 6 / 4;
}

@media only screen and (max-width: 1320px) {
  #about_product {
    width: 75%;
  }
  #about_product .games_buy_slider {
    width: 95%;
  }
  #about_product .games_buy_slider .nav_wrapper {
    top: calc(30vw);
  }
  #about_product .section_wrapper {
    width: calc(95% - 60px);
  }
  #about_product .section_wrapper .content_wrapper {
    width: 100%;
  }
  #about_product .section_wrapper:has(> #row_wrapper) {
    width: 95%;
  }
  #about_product #row_wrapper {
    width: 100%;
  }
  #about_product #visuals {
    width: calc(85% + 60px);
  }
  #about_product #visuals #images_wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  #about_product {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
  }
  #about_product #overview .content_wrapper div:not(.seperation), #about_product #requirements .content_wrapper div:not(.seperation) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #about_product #more_less_wrapper {
    -webkit-transition: height 450ms !important;
    transition: height 450ms !important;
  }
  #about_product .section_wrapper:has(> #row_wrapper) {
    width: calc(95% - 60px);
  }
  #about_product #row_wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #about_product .games_buy_slider {
    width: calc(100% + 60px) !important;
  }
  #about_product .games_buy_slider .nav_wrapper {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  #about_product .games_buy_slider {
    width: calc(100% - 20px) !important;
  }
}

@media only screen and (max-width: 1160px) {
  #about_product #more_less_wrapper .inline_image_wrapper.right {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #about_product #more_less_wrapper .inline_image_wrapper.left {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  #about_product #visuals #images_wrapper {
    width: calc(100% - 40px) !important;
  }
}

@media only screen and (max-width: 650px) {
  #about_product #visuals #images_wrapper {
    width: calc(100% - 20px) !important;
    gap: 10px;
  }
  #about_product #visuals #images_wrapper div:nth-child(2), #about_product #visuals #images_wrapper div:nth-child(3) {
    width: calc(100% + 8px) !important;
  }
}
